body {
  padding-top: 80px;
}

/* Layout */

nav {
  .logo {
    @extend .navbar-brand;
    @include background-img("logo.atlpeeps.png");
  }
}

/* Settings */

.profile {
  @extend .row;

  form {
    @extend .col-md-6;
    padding: 20px 35px;
  }

  .current-thumb {
    @extend .help-block;
    width: 100px;
  }
}

.accounts {
  @extend .row;

  &:first-of-type { margin-top: 20px; }

  img {
    width: 50px;
  }
}