body {
  padding-top: 80px;
}

/* Layout */

nav {
  .logo {
    @extend .navbar-brand;
    @include background-img("logo.atlpeeps.png");
  }
}

/* Auth */

.auth {
  @extend .row;

  .col-md-2 {
    text-align: center;
  }

  i {
    display: block;
    font-size: 10em;
  }

  a:hover { text-decoration: none; }

  .fa-facebook-square { color: #3b5999; }
  .fa-twitter-square  { color: #55acee; }
  .fa-github-square   { color: #444; }
}

/* Settings */

.profile {
  @extend .row;

  form {
    @extend .col-md-6;
    padding: 20px 35px;
  }

  .current-thumb {
    @extend .help-block;
    width: 100px;
  }
}

.accounts {
  @extend .row;

  &:first-of-type { margin-top: 20px; }

  img {
    width: 50px;
  }
}