body {
  padding-top: 80px;
}

/* Layout */

nav {
  .logo {
    @extend .navbar-brand;
    @include background-img("logo.atlpeeps.png");
  }
}

.alert.success {
  @extend .alert-success;
}

.alert.notice {
  @extend .alert-warning;
}

/* Auth */

.auth {
  @extend .row;

  .col-md-2 {
    text-align: center;
  }

  i {
    display: block;
    font-size: 10em;
  }

  a:hover { text-decoration: none; }

  .fa-facebook-square { color: #3b5999; }
  .fa-twitter-square  { color: #55acee; }
  .fa-github-square   { color: #444; }
}

/* Settings */

.settings {
  @extend .row;

  .accounts,
  .profile {
    @extend .col-md-6;
  }

  .accounts > ul {
    @extend .list-group;
  }

  .account {
    @extend .list-group-item;

    h4 {
      @extend .list-group-item-heading;
    }

    p {
      @extend .list-group-item-text;
      margin-left: 50px;
      color: #777;
    }

    img {
      @extend .pull-left;
      width: 40px;
      margin-right: 5px;
    }

    a {
      @extend .pull-right;
      margin-top: 5px;
    }
  }

  .connect {
    margin: 20px 0 0;

    a {
      margin-right: 10px;
    }
  }

  .image {
    .current-thumb {
      display: inline;
      width: 100px;
      vertical-align: top;
    }

    #image-menu {
      @extend .btn-group;
    }

    .remove-image {
      display: inline-block;
      width: 100px;
      margin-top: 5px;
      font-size: 13px;
      text-align: center;
    }

    #upload-form {
      display: inline-block;
    }
  }

  .profile {
    .input-lg {
      width: 250px;
    }
  }
}